.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.list {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  gap: 5px;
}
.list li {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  gap: 10px;
  border-radius: 5px;
  padding: 10px 20px;
  backdrop-filter: blur(25px);
  background-color: lightcyan;
}
.list li img {
  width: 60px;
  height: 60px;
  border-radius: 100%;
}
.container input {
  margin: 30px 10px;
  padding: 10px;
  width: 360px;
  border-radius: 5px;
  border: none;
  outline: 4px solid #4169e185
}
